<p>Dear {{ username }},</p>
<p>Welcome to <b>Santa Blog</b>!</p>
<p>To confirm your account please 
    <a href="{{ domain }}{% url 'users-confirm-account' uidb64=uid token=token %}" 
        target="_blank">click here</a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ domain }}{% url 'users-confirm-account' uidb64=uid token=token %}</p>
<p>Sincerely,</p>
<p>The Santa-Dev Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>