{% extends 'users/include/auth_layout.html' %}
{% block content %}
{% if validlink is False %}
<div class="alert alert-danger alert-rounded mb-1" style="width: 400px; margin: 0 auto;">
    <i class="ti-user"></i>
        This token is expired or invalid
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="login-box card">
    <div class="card-body">
        <form class="form-horizontal form-material">
            <h3 class="box-title m-b-20">Expired Token</h3>
            <h6>Please return to the log in page and request for a new token</h6>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <a href="{% url 'users-login' %}" class="btn btn-info btn-lg btn-block">
                        Log In
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% else %}
<div class="login-box card">
    <div class="card-body">
        <form class="form-horizontal form-material" method="POST">
            {% csrf_token %}
            <h3 class="box-title m-b-20">Create New Password</h3>
            <div class="form-group">
                <div class="col-xs-12">
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors  %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                        type="submit">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock content %}